{% load static %}
<section class="min-vh-100">
    <div class="container">
        <div class="row align-items-center align-content-center py-lg-4">
            <div class="col">
                <div class="text-center my-2">
                    <h5 class="shop-at">SHOP AT OUR</h5>
                    <h1 class="donated-goods">DONATED GOODS DISCOUNT DEPOT</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mb-2">
                <div class="text-center mw-100">
                    <img class="img-fluid"src="{% static 'shop/imgs/pngs/youtube.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="text-center mw-100 my-4">
                    <img class="img-fluid"src="{% static 'shop/imgs/svgs/items.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>