<section class="bg-white min-vh-100 py-5" id="contact">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section-title text-center">
                    <h2 class="fs-1">Contact</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 p-3 text-right">
                <form>
                    <div class="mb-3">
                        <label for="NameInput" class="form-label">Name</label>
                        <input type="email" class="form-control" id="NameInput" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="EmainInput" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="EmailInput" aria-describedby="NeverShare">
                      <div id="NeverShare" class="form-text">I'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="MessageInput" class="form-label">Message</label>
                        <textarea id="MessageInput" class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-lg-5 text-right">
                <div class="social-links px-1">
                    <a class="text-dark me-2" href="https://www.linkedin.com/in/joey-chrys"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a class="text-dark me-2" href="https://github.com/joeychrys"><i class="fab fa-github-square fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>