{% load static %}
<section class="about bg-white min-vh-100 py-5" id="about">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section-title text-center">
                    <h2 class="fs-1">About Me</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-3">
        <div class="row justify-content-center">
            <div class="col-md pt-4">
                <div class="student-card card mb-4 shadow-lg">
                    <div class="card-header text-center">
                        <h4 class="my-2">Student</h4>
                    </div>
                    <img class="card-img-top mx-auto d-block" src="{% static 'imgs/svgs/graduation-cap-solid.svg' %}" style="width: 150px; height: auto;">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi blanditiis accusamus et optio. Debitis consequuntur, eos veniam deserunt perspiciatis, explicabo provident at quia deleniti cumque, corrupti quo tempora sunt rem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md pt-4">
                <div class="dev-card card mb-4 shadow-lg">
                    <div class="card-header text-center">
                        <h4 class="my-2">Developer</h4>
                    </div>
                    <img class="card-img-top mx-auto d-block p-2" src="{% static 'imgs/svgs/code-solid.svg' %}" style="width: 150px; height: auto;">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi blanditiis accusamus et optio. Debitis consequuntur, eos veniam deserunt perspiciatis, explicabo provident at quia deleniti cumque, corrupti quo tempora sunt rem!</p>
                    </div>
                </div>
            </div>
            <div class="col-md pt-4">
                <div class="music-card card mb-4 shadow-lg">
                    <div class="card-header text-center">
                        <h4 class="my-2">Musician</h4>
                    </div>
                    <img class="card-img-top mx-auto d-block p-2" src="{% static 'imgs/svgs/headphones-alt-solid.svg' %}" style="width: 125px; height: auto;">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi blanditiis accusamus et optio. Debitis consequuntur, eos veniam deserunt perspiciatis, explicabo provident at quia deleniti cumque, corrupti quo tempora sunt rem!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
